*{
    margin: 0;
    padding: 0;
}
body{
    color: aliceblue;
    background-repeat: no-repeat;
    background-image: url(fundo.JPG.webp);
    background-size: cover;
    font-size: larger;
}
.titulo{
    background-color: rgba(31, 31, 31, 0.761);
    color: #ffffff;
    text-align: center;
    padding:10px 0 ;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
}
.fotomodelo{
    width: 500px;
    margin-left: 10px;
}
.modelosflex{
    display: flex;
    background-color: #ffffff;
    color: black;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 300px;
}
.subtitulo{
    background-color: rgba(0, 0, 0, 0.502);
    display: flex;
    margin-right: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.voltar{
    background-color: aliceblue;
    color: black;
    padding: 15px 10px;
    border-radius: 15px;
    text-decoration: none;
}
.voltar img{
    width: 50px;
}
.rodape{
    background-color: #000000;
    margin-top: 100px;
    color: #ffffff;
    text-align: center;
    padding:10px 0 ;
}